body {
    background-color: rgb(0 0 0 / 90%);
}

#mainCircles {
    border: 2.5px solid cornflowerblue;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin: 26px auto;
    width: 226px;
    height: 54px;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: cornflowerblue;
    font-family: cursive;
    text-shadow: 1px 1px #64edc4;
    box-shadow: 2px 2px 2px 1px #64edc4;
    cursor: pointer;
}
.circle {
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 1px 1.5px #6494ed;
}
.circles {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}